<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}" />
    <title>index</title>
</head>
<body class="contain">
    <div>
        <h1>呵呵</h1>
        {% if data.data %}
        <table>
            <thead>
                <th>用户名</th>
                <th>密码</th>
            </thead>
            <tbody>
                {% for line in data.data %}
                    <tr>
                        <td>{{ line.user }}</td>
                        <td>{{ line.pwd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h1>暂无数据</h1>
            <form action="userCreat" method="post">
                <table>
                    <thead>
                        <th>用户名</th>
                        <th>密码</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" placeholder="用户名" name="username" /></td>
                            <td><input type="text" placeholder="密码" name="password"/></td>
                        </tr>
                    </tbody>
                </table>
                <input type="submit" value="注册" />
            </form>
        {% endif %}
    </div>
</body>
</html>